.Why{
margin: 0px;
}
.usList{
    list-style-type:none;
    padding: 0px;
}
.whyText{
    padding:17px;
    margin-top: -15px;
}
 #AboutUsBody{
    background-image: url(../img/backgroundSky.jpg);
    background-size: 110%;
 }   

 

